html{
  box-sizing: border-box; /* https://css-tricks.com/box-sizing/ */
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}
body{
  max-width: 100vw;
  margin: 0 auto;
  background-color: #5cdb95;
}

nav{
  height: 7em;
  background-color:#5cdb95;
  margin-bottom: 3em;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90vw;
  height: 7em;
  margin: 0 auto;
  padding: 0;
}

.logo{
  color: #05396b;
  letter-spacing: normal;
  border: none;
  padding: 0;
}

.logo:hover{
  color: #fff;
}

nav li:first-of-type{
  font-size: 1.5em;
}

nav li{
  display: flex;
  align-self: center;
  color: #05396b;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

nav li a{
  color: #05396b;
  padding: .3em 1em;
  text-decoration: none;
  transition: ease-out .1s;
  border: 2px solid #05396b;
}

main{
  display: grid;
  grid-template-columns: 40vw 10vw 40vw;
  max-width: 90vw;
  margin: 0 auto;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  color: #fff;
}

p{
  display: grid;
  grid-column-start: 1;
  font-family: 'Jaldi', sans-serif;
  color: #fff;
}


.accordion {
  display: grid;
  grid-column-start: 1;
  background-color: #fff;
  border: 2px solid #05396b;
  color: #05396b;
  cursor: pointer;
  padding: 1.1em;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: .5s;
}

.accordion:first-of-type{
  margin-top: 1em;
}

.active, .accordion:hover {
  background-color: #05396b;
  color: #fff;
}

.accordion:after {
  display: flex;
  justify-content: flex-end;
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  color: #fff;
  font-size: 13px;
  float: right;
  margin-top: -1.4em;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel {
  padding: 0 18px;
  background-color: #05396b;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  grid-column-start: 1;
}

.panel p{
  color: #fff;
}

.panel p:hover{
  color: #fff;
}

.huismodel{
  display: grid;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 10;
  background-image: url(../img/huis1.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -4px 10px 25px #000000;

}

footer{
  display: flex;
  height: 5em;
  bottom: 0;
  margin-top: 2.2em;
  background-color:#8ee4af;
}

footer p{
  align-self: center;
  display: inline-block;
  font-size: 1em;
  color: #fff;
  max-width: 90vw;
  margin: 0 auto;
}

footer p span{
  font-weight: bolder;
}
