* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

h1 {
  font-size: 3em;
  font-family: 'Heebo', sans-serif;
  padding: 1em;
  margin-bottom: 1.5em;
  background-color: var(--padding-color);
  width: 7em;
}

h2 {
  color: #fff;
  font-size: 2em;
  font-family: 'Heebo', sans-serif;
}

p:first-of-type {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  grid-row-start: 3;
  grid-column-start: 2;
  margin-top: 0;
}

p:last-of-type {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  grid-row-start: 2;
  grid-column-start: 2;
  margin-top: 0;
}

div {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  grid-row-start: 4;
  grid-column-start: 2;
  margin-top: 0;
}

section {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 90vw;
}

article {
  display: grid;
  grid-template-columns: 22vw 35vw 25vw;
  grid-column-gap: 2vw;
  grid-template-rows: 5vw 3vw 3vw 23vw;
}

img {
  width: 20vw;
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
}

span {
  font-size: 5em;
  font-family: 'Heebo', sans-serif;
  color: var(--padding-color);
  background-color: var(--bgnumber-color);
  position: absolute;
  left: .3em;
  margin-top: -.1em;
  padding: 0 .4em 0 .4em;
  border-radius: 90%;
}

:root {
  --font-color: #FFFFFF;
  --bg-color: #2F2FA2;
  --padding-color: #F64C62;
  --bgnumber-color: #fff;
}

[data-theme="dark"] {
  --font-color: #ffffff;
  --bg-color: #000000;
  --padding-color: #10FF00;
  --bgnumber-color: #0F2400;
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5em;
  top: 4em;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked+.slider {
  background-color: #66bb6a;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
