* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  transition: .2s ease-out;
}

h1 {
  font-size: 3em;
  font-family: 'Heebo', sans-serif;
  padding: 1em;
  margin-bottom: 4em;
  background-color: var(--padding-color);
  width: 7em;
  transition: .2s ease-out;
}

@media (min-width: 730px) {
  h1:hover{
    border-bottom-right-radius:60px;
  }
}

@media (max-width: 730px) {
  h1{
    width: 100%;
    text-align: center;
    padding: 1em 0;
    margin-bottom: .5em;
  }
}

h2 {
  color: #fff;
  font-size: 2em;
  font-family: 'Heebo', sans-serif;
}

@media (max-width: 1200px) {
  h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 900px) {
  h2 {
    font-size: 1.2em;
  }
}

@media (max-width: 730px) {
  h2 {
    place-self: center;
  }
}

p:first-of-type {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  grid-row-start: 3;
  grid-column-start: 2;
  margin-top: 0;
}

p:last-of-type {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  grid-row-start: 2;
  grid-column-start: 2;
  margin-top: 0;
}

.plot {
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  grid-row-start: 4;
  grid-column-start: 2;
  margin-top: 0;
}

section {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 90vw;
}

article {
  display: grid;
  grid-template-columns: 22vw 35vw 25vw;
  grid-column-gap: 2vw;
  grid-template-rows: 5vw 3vw 3vw 9vw 20vw;
}

@media (max-width: 1100px) {
  article {
    grid-template-columns: 22vw 70vw;
    grid-column-gap: 2vw;
    grid-template-rows: 5vw 3vw 3vw 9vw 20vw;
  }
}

@media (max-width: 950px) {
  article {
    grid-template-rows: 5vw 3vw 3vw 12vw 20vw;
  }
}

@media (max-width: 820px) {
  article {
    grid-template-rows: 5vw 3vw 4vw 14vw 20vw;
  }
}

@media (max-width: 730px) {
  article {
    grid-template-columns: 90vw;
    grid-template-rows: 62vw;
    grid-row-gap: .3em;
    /* justify-items: center; */
  }

  p:first-of-type {
    grid-row-start: 4;
    grid-column-start: 1;
    place-self: center;
  }

  p:last-of-type {
    grid-row-start: 3;
    grid-column-start: 1;
    place-self: center;
  }

  .plot {
    grid-row-start: 5;
    grid-column-start: 1;
    text-align: center;
    width: 60%;
    place-self: center;
  }
}

img {
  width: 20vw;
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
}

@media (max-width: 730px) {
  img{
    width: 40vw;
    place-self: center;
  }

}

.knop {
  background-color: var(--padding-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8em;
  height: 2.5em;
  font-size: 1.5em;
  font-family: 'Heebo', sans-serif;
  border: 0;
  transition: .2s ease-out;
  cursor: pointer;
  grid-column-start: 2;
}

@media (max-width: 820px) {
  .knop {
    font-size: 1.2em;
  }
}

@media (max-width: 730px) {
  .knop {
    grid-column-start: 1;
    grid-row-start: 6;
    margin: 1em 0 4em 0;
    place-self: center;
  }
}

.knop:hover {
  transition: .2s ease-in;
  opacity: .8;
  border-radius: 30px;
}

.review {
  grid-column-start: 3;
  grid-row-start: 1;
}

@media (max-width: 1100px) {
  .review {
    display: none;
  }
}

span {
  font-size: 5em;
  font-family: 'Heebo', sans-serif;
  color: var(--padding-color);
  background-color: var(--bgnumber-color);
  position: absolute;
  left: .3em;
  margin-top: -.1em;
  padding: 0 .4em 0 .4em;
  border-radius: 90%;
  transition: .2s ease-out;
}

@media (max-width: 1100px) {
  span {
    font-size: 3.5em;
  }
}

@media (max-width: 730px) {
  span {
    left: 2.5em;
  }
}

@media (max-width: 540px) {
  span {
    left: 1.8em;
  }
}


/* Dark Mode */
:root {
  --font-color: #FFFFFF;
  --bg-color: #2F2FA2;
  --padding-color: #F64C62;
  --bgnumber-color: #fff;
}

[data-theme="dark"] {
  --font-color: #ffffff;
  --bg-color: #000000;
  --padding-color: #10FF00;
  --bgnumber-color: #0F2400;
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5em;
  top: 4em;
}

@media (max-width: 730px) {
  .theme-switch-wrapper{
    justify-content: center;
    position: static;
    margin: 2em;
  }
}

.theme-switch-wrapper p {
  margin-left: 10px;
  font-size: 1em;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked+.slider {
  background-color: #66bb6a;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Filters */

.filterheading{
  color: #fff;
  font-size: 2em;
  font-family: 'Heebo', sans-serif;
}

.filters{
  display: inline-block;
  position: absolute;
  top: 14em;
  left: 4em;
  right: 0;
}

@media (max-width: 730px){
  .filterheading{
    display: none;
  }
  .filters {
      display: flex;
      align-items: center;
      justify-content: center;
      position: static;
      margin-bottom: 2em;
  }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding: 0 1.5em;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    border-radius: 300%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--padding-color);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
